<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hello World!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <ul>
        <!-- we extract fields of a struct by passing the name behind the dot -->
        <li>{{.Name}} - {{.Motto}}</li>
    </ul>
    </body>
</html>