<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Time Now</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>Unformatted: {{.}}</h1>
    <h1>Formatted: {{fdateMDY .}}</h1>
    <h1>Kitchen Time: {{fdateKitchen .}}</h1>
    </body>
</html>