<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wisdom & Transport</title>
</head>
<body>

<ul>
    {{range .Wisdom}}
    <!-- we use the UpperCase (uc) function on the Name -->
    <li>{{uc .Name}} - {{.Motto}}</li>
    {{end}}
</ul>

<ul>
    {{range .Transport}}
    <!-- we use the FirstThree (ft) function on the Manufacturer  -->
    <li>{{ft .Manufacturer}} - {{.Model}} - {{.Doors}}</li>
    {{end}}
</ul>

</body>
</html>